@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
body{
	font-family: 'Kosugi Maru';
	text-align: center;
}
canvas{
	border: 1px solid #000;
}
#canvas-full{
	max-width: 1280px;
}